/*NAVBAR - GENERAL STYLES*/
/*GENERAL STYLES*/
.navbar {
	font-weight: 500;
	font-family: "Raleway", sans-serif;
	color: #063268;
	margin-bottom: 0;
	border-bottom: none;
	z-index: 10001;
}

.navbar a {
	text-decoration: none !important;
}

.navbar a:hover {
	transition: 0.4s !important;
}

.navbar .navbar-default.box-shadow {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.navbar .navbar-default.border-bottom {
	border-bottom: 1px solid #cedbe7;
}

.navbar .collapse.navbar-menu {
	display: flex;
}

.navbar.business-solutions .collapse.navbar-menu {
	display: block;
}

/*DROPDOWN*/

.navbar .navbar-default ul li .dropdown-toggle:hover,
.navbar .navbar-default ul li .dropdown-toggle[aria-expanded="true"] {
	color: #0c3566;
	font-weight: 700;
}

.navbar .navbar-default ul li:last-child {
	margin-right: 0;
}

.navbar .navbar-default .dropdown-toggle:focus,
.navbar .navbar-default .dropdown-toggle:visited {
	background-color: white;
}

.navbar .navbar-default.top .dropdown-menu {
	top: 45px;
	width: 100%;
}

.navbar .navbar-default .dropdown-menu {
	border-radius: 4px;
	margin: 0;
	top: 36px;
	width: 300px;
	max-height: 325px;
	overflow-y: scroll;
}

.navbar .navbar-default .dropdown-menu li {
	padding: 5px 20px;
}

.navbar .navbar-default .dropdown-menu li:hover {
	background-color: #e8f1fd;
}

.navbar .navbar-default .dropdown-menu li a:hover {
	background-color: transparent;
}

.navbar .navbar-default .dropdown-menu li a {
	color: #063268;
	padding: 0;
}
/*END DROPDOWN*/

/*END NAVBAR - GENERAL STYLES*/
/*NAVBAR TOP*/

.navbar.navbar-fixed-bottom,
.navbar.navbar-fixed-top {
	position: sticky;
}

.navbar .navbar-default.top {
	background-color: #ffffff;
	border-bottom: 1px solid #cedbe7;
	min-height: 57px;
}

/*NAVBAR BRAND*/

.navbar .navbar-default.top .navbar-header .navbar-brand {
	padding: 15px 0;
	position: relative;
	display: flex;
	flex-direction: column;
	text-align: right;
}

.navbar .navbar-default.top .navbar-header .navbar-brand > img {
	display: inline-block;
	width: auto;
	position: relative;
	top: 0;
	max-height: 28px;
}

/*END NAVBAR BRAND*/
/*NAVBAR TOP - LEFT SIDE*/

.navbar-left .navbar-form {
	padding: 0 0 0 15px;
	margin-top: 11px;
}

.navbar-left .input-group {
	border-radius: 8px;
	overflow: hidden;
}

.navbar-left input {
	border-radius: 8px;
	position: relative;
	height: 38px;
	border: 0 !important;
	box-shadow: none !important;
	width: 300px !important;
	font-weight: 500;
	background-color: #e9edf1;
	padding-right: 22px;
	color: #0c3566;
}

.navbar-left input:focus {
	box-shadow: none !important;
	outline: 0 none !important;
	border: 2px solid #1d7cee !important;
	background-color: #ffffff;
}

.navbar-left input::placeholder {
	font-size: 15px !important;
	font-weight: 600;
	color: #58708d;
}

.navbar-left .input-group-btn button.btn.btn-blue.search {
	border-radius: 8px !important;
	height: 38px !important;
	background-color: #1d7cee;
	border: 0;
	padding: 0 15px;
	z-index: 1000;
	position: absolute;
	top: 0;
	right: 0;
	color: #ffffff;
}

/*END NAVBAR TOP - LEFT SIDE*/
/*NAVBAR TOP - RIGHT SIDE*/

.navbar .navbar-default.top .navbar-right {
	margin-right: 0 !important;
	display: flex;
	justify-content: space-between;
	flex: 1;
	height: 57px;
	align-items: center;
}

.navbar .navbar-default.top .navbar-right .left {
	margin-left: 10px;
}

.navbar .navbar-default.top .navbar-right .navbar-nav {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.navbar .navbar-default.top .navbar-right .navbar-nav > li > a {
	margin: 0;
	padding: 8px 10px;
	line-height: normal;
	color: #0c3566;
	font-weight: 600;
	font-size: 1em;
	display: flex;
	align-items: center;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
	background-color: white;
}

.navbar .navbar-default.top .navbar-right .navbar-nav li .btn {
	margin-left: 10px;
	border-radius: 8px;
	font-size: 15px !important;
	padding: 10px 20px !important;
	background: #1d7cee !important;
	color: #ffffff !important;
}

.navbar .navbar-default.top .navbar-right .navbar-nav li,
.navbar .navbar-default.top .navbar-right .navbar-nav li.active {
	position: relative;
}

.navbar .navbar-default.top .navbar-right .navbar-nav li.active > a {
	background: transparent !important;
}

/*NAVBAR HEADER*/

.navbar .navbar-default.header {
	padding: 18px 0;
	background: linear-gradient(
			297.02deg,
			rgba(255, 255, 255, 0) 0%,
			rgba(255, 255, 255, 1) 55%,
			rgba(255, 255, 255, 0.7) 100%
		),
		url(../img/bg-navbar-header.png);
	background-size: contain;
	background-repeat: repeat;
	border: 1px solid rgba(0, 0, 0, 0.15);
	margin: 0;
}

.navbar .navbar-default.header.only-breadcrumb {
	padding: 8px 0;
	border-top: none;
}

.navbar .navbar-default.header.only-breadcrumb .breadcrumb {
	margin: 0;
	font-size: 11px;
}

.navbar .navbar-default.header .breadcrumb {
	padding: 0;
	list-style: none;
	background-color: transparent;
	border-radius: 0;
	margin: 0 0 6px 0;
	font-size: 13px;
	font-weight: 600;
}

.navbar .navbar-default.header .breadcrumb a {
	color: #58708d;
}

.navbar .navbar-default.header .breadcrumb > .active {
	color: #0c3566;
}

.navbar .navbar-default.header h1 {
	margin: 0;
	font-size: 22px;
	color: #063268 !important;
	text-transform: capitalize;
	letter-spacing: 0.2px;
}

.navbar .navbar-default.header p {
	margin: 5px 0 0 0;
	color: #063268;
}

/*END NAVBAR HEADER*/
/*NAVBAR TABS*/

.navbar .navbar-default.tabs {
	margin-bottom: 0;
	padding: 6px;
	background: #ffffff;
}

.navbar .navbar-default.tabs .nav-pills .events-counter {
	font-weight: 700;
	color: #0c3566;
	min-width: 90px;
	text-align: center;
}

.navbar .navbar-default.tabs .nav-pills > li.active > a:after {
	content: "";
	width: 100%;
	display: block;
	height: 3px;
	background: #0c3566;
	position: absolute;
	bottom: -12px;
}

.navbar .navbar-default.tabs .nav-pills > li.active > a,
.navbar .navbar-default.tabs .nav-pills > li.active > a:focus,
.navbar .navbar-default.tabs .nav-pills > li.active > a:hover {
	background: none;
	color: #0c3566;
}

.navbar .navbar-default.tabs .nav-pills > li > a {
	padding: 0;
	display: flex;
	align-items: center;
}

.navbar .navbar-default.tabs .nav-pills > li > a:hover {
	background: none;
	color: #0c3566;
}

.navbar .navbar-default.tabs .navbar-center > ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
}

.navbar .navbar-default.tabs .navbar-center ul > li {
	flex-wrap: wrap;
	text-align: center;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 0.5px;
	padding: 6px 5px;
	margin-right: 10px;
	text-transform: capitalize;
}

.navbar .navbar-default.tabs .navbar-center ul li a {
	color: #58708d;
}
/*END NAVBAR TABS*/
/*BUSINESS SOLUTIONS NAVBAR*/

.navbar.business-solutions .navbar-header {
	display: flex;
	align-items: center;
	height: 57px;
}

.navbar.business-solutions .navbar-header .navbar-brand {
	display: flex;
	flex-direction: row !important;
	align-items: center;
}

.navbar.business-solutions .navbar-header .navbar-brand > img {
	height: 28px;
	max-height: 28px;
	border-right: 1px solid #CEDBE7;
	padding-right: 10px;
}

.navbar.business-solutions .navbar-header .navbar-brand .tagline {
	margin-left: 10px;
}

/*END BUSINESS SOLUTIONS NAVBAR*/
/*MEGA MENU*/

.navbar .navbar-default.header.mega-menu {
	position: absolute;
	width: 100%;
	z-index: 1000;
	border-top: none;
	background-repeat: no-repeat;
	background: linear-gradient(
		297.02deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 1) 55%,
		rgba(255, 255, 255, 0.9) 100%
	),
	url(../img/bg-navbar-header.png);
}

.navbar .navbar-default.header .mega-menu-title h2 {
	margin-bottom: 10px;
}

.navbar .navbar-default.header .mega-menu-title p {
	max-width: 480px;
    line-height: 21px;
}

.navbar .navbar-default.mega-menu .mega-menu-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: -20px;
	padding: 25px 0;
}

.navbar .navbar-default.header.mega-menu .mega-menu-wrapper .mega-menu-block {
	flex: 1;
	margin: 20px;
}

.navbar .navbar-default.header.mega-menu .mega-menu-wrapper .mega-menu-block h4 {
	margin-bottom: 20px;
}

.navbar .navbar-default.header.mega-menu .mega-menu-wrapper .mega-menu-block .block-list {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 22px;
}

.navbar .navbar-default.header.mega-menu .mega-menu-wrapper .mega-menu-box .col:nth-child(1){
	width: 220px;
	max-height: 120px;
	border: 1px solid #CEDBE7;
	border-radius: 8px;
	overflow: hidden;
}

.navbar .navbar-default.header.mega-menu .mega-menu-wrapper .mega-menu-box img {
	width: 220px;
	height: auto;
}

.navbar .navbar-default.header.mega-menu .mega-menu-wrapper .mega-menu-box h3 {
	font-weight: 500;
	margin-top: 10px;
	font-size: 14px;
	line-height: 20px;
}

.navbar .navbar-default.header.mega-menu .mega-menu-wrapper .mega-menu-box .read-more-link {
	display: flex;
	align-items: center;
}

.navbar .navbar-default.header.mega-menu .mega-menu-wrapper .mega-menu-box .read-more-link svg {
	margin-left: 2px;
}

.navbar .navbar-default.header.mega-menu .mega-menu-wrapper .mega-menu-block .listings-list .item {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.navbar .navbar-default.header.mega-menu .mega-menu-wrapper .mega-menu-block .listings-list .item .col:nth-child(1) {
	min-width: 50px;
	height: 50px;
	border: 1px solid #CEDBE7;
	border-radius: 8px;
	margin-right: 12px;
	overflow: hidden;
}

.navbar .navbar-default.header.mega-menu .mega-menu-wrapper .mega-menu-block .listings-list h3 {
	font-weight: 500;
	margin: 0;
	font-size: 14px;
	line-height: 20px;
}

.navbar .navbar-default.header.mega-menu .mega-menu-wrapper .mega-menu-block .listings-list .item .col:nth-child(1) img {
	width: 100px;
	max-height: 100px;
}

.navbar .navbar-default.header.mega-menu .mega-menu-wrapper > .mega-menu-box {
	margin: 0 20px;
}

/*END MEGA MENU/