/*GENERAL STYLES*/
#overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	background: #ffffff;
	z-index: 10000;
}

.plans-top-wrapper {
	background-color: #ffffff;
}

.bg-white {
	background-color: white;
}

.grid-h {
	display: flex;
}

h1,
h2,
h3,
h4 {
	letter-spacing: 0.2px !important;
	color: #0c3566;
}

h1 {
	font-size: 32px;
	font-weight: bold;
	line-height: 44px;
	margin-top: 0;
}

h2 {
	font-size: 24px;
	font-weight: bold;
	line-height: 1.3;
}

h3 {
	font-size: 22px;
	font-weight: 600;
}

p.sub-h1 {
	color: #58708d;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
}

.m-b-5 {
	margin-bottom: 5px;
}

.m-t-15 {
	margin-top: 15px;
}

.m-t-20 {
	margin-top: 20px;
}

.affix {
	width: 262.6px;
}

.box h1,
.box h2,
.box h3,
.box h4 {
	margin: 0 0 5px 0;
}

.no-padding {
	padding: 0 !important;
}

.btn-l {
	padding: 8px 15px;
}

body {
	font-family: "Raleway", sans-serif;
	color: #0c3566;
	background-color: #ffffff;
	position: relative;
}

.center:last-child {
	margin-bottom: 60px;
}

.sep {
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	position: relative;
	margin: 0 -20px;
}

.sep.full {
	margin: 20px -20px;
}

p {
	line-height: 18px;
	text-shadow: none !important;
	letter-spacing: 0.5px !important;
}

.bold {
	font-weight: 700 !important;
}

.normal {
	font-weight: 600 !important;
}

.light {
	font-weight: 500 !important;
}

.soft {
	color: #999999;
}

.dark {
	color: #0c3566;
}

.blue {
	color: #1d7cee;
}

.x-small {
	font-size: 10px;
}

.small {
	font-size: 11px;
}

.medium {
	font-size: 12px;
}

.regular {
	font-size: 13px;
}

.large {
	font-size: 16px;
}

.warning {
	color: red;
}

.uppercase {
	text-transform: uppercase;
	letter-spacing: 1px;
}

.table {
	margin-bottom: 0;
}

.box h1 {
	font-size: 18px;
	margin: 0 0 5px 0;
	text-transform: capitalize;
}

.box h2 {
	font-size: 16px;
	margin: 12px 0 5px 0;
	text-transform: capitalize;
}

.box h3 {
	font-size: 13px;
	margin: 0;
	line-height: 14px;
	margin: 0px 0 5px 0;
}

.box h4 {
	font-size: 12px;
	margin: 0px 0 5px 0;
}

p.tag-xs {
	text-transform: uppercase;
	letter-spacing: 2px !important;
	margin-bottom: 12px;
}

p.tag-xs .lnr {
	font-size: 15px;
}

a {
	text-decoration: none !important;
	color: #1d7cee;
	transition: 0.4s !important;
}

a:hover {
	color: #1763be;
}

/*BUTTONS*/

.btn,
.btn:hover {
	transition: 0.4s !important;
}

.btn:hover {
	background: rgba(0, 0, 0, 0.05);
}

.btn {
	border-radius: 100px;
	font-weight: 600;
	letter-spacing: 0.5px !important;
	text-shadow: none;
	text-align: center;
	border: none;
	text-decoration: none;
	text-transform: none;
}

.btn-l {
	font-size: 13px;
	padding: 10px 18px;
}

.btn-m {
	font-size: 12px !important;
	padding: 8px 15px !important;
}

.btn-s {
	font-size: 11px !important;
	padding: 4px 12px !important;
}

/*BUTTON BLUE*/

.btn-blue {
	background: #1d7cee !important;
	color: #ffffff !important;
}

.btn-blue:hover {
	background: #1763be !important;
}

.btn span {
	position: relative;
	top: 1px;
}

.btn-blue:active,
.btn-blue:focus,
.btn-blue:hover {
	color: #ffffff !important;
}

/*BUTTON SOFT*/

.btn-soft {
	background: #ffffff;
	color: #1d7cee;
	border: 1px solid #1d7cee;
}

.btn-soft:active,
.btn-soft:focus,
.btn-soft:hover {
	background: #e8f1fd !important;
	color: #1d7cee;
	box-shadow: inset 0 0 0 2px #1d7cee !important;
}

/*BUTTONS*/
.box {
	border-radius: 2px;
	padding: 20px;
	background: #ffffff;
	position: relative;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
}

.no-shadow {
	box-shadow: none;
	border-radius: 0;
}

.border-r {
	border-right: 1px solid #e8e8e8;
}

/*END GENERAL STYLES*/
/*PAGE HEADER*/

#header {
	padding: 80px 0 0;
}

#header .header {
	margin: 0 auto;
}

#header .header .left {
	max-width: 500px;
}

#header .header h1 {
	font-weight: bold;
	text-transform: none;
	margin-bottom: 0;
}

#header .header p.sub-h1 {
	margin-top: 20px;
	max-width: 450px;
}

#header .header .left .buttons {
	margin: 20px 0 90px 0;
}

#header .testimonials .t-grid {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 25px;
	padding-bottom: 30px;
	border-bottom: 1px solid #cedbe7;
}

/*END PAGE HEADER*/

/*CORNERSTONES*/

.co-branded-challenge {
	padding-top: 60px;
}

.co-branded-challenge .title-area {
	padding: 0 15px;
}

.co-branded-challenge h3 {
	font-size: 20px;
	margin-bottom: 0;
}

.co-branded-challenge .wrapper {
	display: flex;
	flex-direction: row;
	padding: 0 15px;
}

.co-branded-challenge .wrapper .perks-list {
	width: 30%;
}
.co-branded-challenge .perks-list .perk p {
	color: #58708d;
	font-size: 15px;
	letter-spacing: 0.54px;
	line-height: 22px;
	margin: 20px 0;
}

.co-branded-challenge .perk-blocks {
	justify-content: space-around;
	margin: 0 -15px;
}

.co-branded-challenge .perk-blocks .perk-block {
	width: 33.33%;
	margin: 20px 15px;
}

.co-branded-challenge .perk-blocks .perk-block h3 {
	margin-bottom: 20px;
}

/*END CORNERSTONES*/

/*NETWORK*/

#network {
	padding: 60px 0;
}

#network .wrapper {
	padding: 0 15px;
}

#network .wrapper .left {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 35px;
	text-align: center;
}

#network .wrapper .left {
	display: flex;
	align-items: center;
	justify-content: center;
}

#network .wrapper .left span,
#network .wrapper .right span {
	font-size: 1.5em;
	font-weight: bold;
	display: block;
}

#network .wrapper .left .kpi {
	padding: 0 20px;
}

#network .wrapper .left .kpi:not(:last-child) {
	border-right: 1px solid #cedbe7;
}

#network .wrapper .right {
	position: relative;
}

#network .wrapper .right .kpi {
	position: absolute;
	left: 20%;
	bottom: 15%;
	border: 4px solid #1d7cee;
	border-radius: 100px;
	width: 130px;
	height: 130px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#network .wrapper .right .kpi span {
	font-size: 2.6em;
}

/*END NETWORK*/

/*TESTIMONIALS*/
#testimonials {
	padding: 60px 0;
	position: relative;
}

#testimonials .testimonials-wrapper {
	margin: 30px 0;
}

#testimonials .carousel-inner {
	box-shadow: 0 0 30px #eceff3;
	border-radius: 8px;
	padding: 50px 80px;
	margin-bottom: 50px;
}

#testimonials .item .item-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 30px 0 40px;
}

#testimonials .testimonials-wrapper .item .left {
	margin-right: 50px;
}

#testimonials .testimonials-wrapper .item .left img {
	height: 180px;
}

#testimonials .testimonials-wrapper .item .right .copy h3 {
	font-size: 18px;
	line-height: 28px;
	margin-top: 0;
	position: relative;
}

#testimonials .testimonials-wrapper .item .right .meta ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: left;
}

#testimonials .testimonials-wrapper .item .right .meta ul li.name {
	margin-top: 20px;
	margin-bottom: 5px;
	font-size: 15px;
}

#testimonials .testimonials-wrapper .item .right .meta ul li.medium {
	font-size: 13px;
}

#testimonials .testimonials-wrapper .logos h3 {
	text-align: center;
	margin-bottom: 20px;
	text-transform: capitalize;
}

#testimonials .logos .grid-h {
	flex-wrap: wrap;
	justify-content: center;
}

#testimonials .logos .grid-h img {
	max-width: 120px;
	margin: 8px;
}

#testimonials .buttons .btn:last-child {
	margin-left: 10px;
}

/*TESTIMONIALS*/
/*CONTACT*/

#contact {
	position: relative;
	padding: 60px 0 80px 0;
}

#contact .container img {
	position: absolute;
	width: 200px;
	display: flex;
	margin: 0 auto;
	flex-direction: row;
	right: -120px;
	top: -30px;
	opacity: 0.7;
}

#contact .container h2 {
	text-transform: none;
	z-index: 10;
	position: relative;
	margin-top: 0;
}

#contact .container .box {
	margin-left: 20px;
	padding: 0;
	border: none;
}

#contact .container .box .sep {
	margin: 0;
}

#contact .container .box a .item-box p {
	margin: 0;
}

#contact .container .box a .item-box p {
	padding: 20px;
}

#contact .container .box a:hover .item-box {
	background: rgba(0, 0, 0, 0.05);
	transition: 0.4s;
}

/*CONTACT*/
/*FOOTER*/
footer {
	border-top: 1px solid #d5dfeb !important;
	padding: 80px 0 50px 0;
}

footer .grid-h {
	align-items: flex-start;
	justify-content: space-between;
}

footer .grid-item {
	width: 20%;
}

footer .grid-item:first-child {
	width: 30%;
	padding-right: 33px;
}

footer .grid-item img {
	margin-bottom: 15px;
	max-height: 25px;
}

footer p:last-child {
	color: #657b9a;
	margin-top: 30px;
}

footer #timeStamp {
	font-size: 14px;
}

footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 20px;
}

footer ul li {
	padding: 6px 0;
}

/*END LINKS*/
/*RESPONSIVE*/

@media (max-width: 768px) {
	.content h2 {
		line-height: 20px;
		margin-bottom: 8px;
		margin-top: 0px;
	}
	.buttons a {
		width: 100%;
		margin: 0 0 15px 0 !important;
	}
	#intro-modules .intro-modules-wrapper {
		flex-direction: column;
	}
	#intro-modules .intro-modules-wrapper .col-left,
	#intro-modules .intro-modules-wrapper .col-right {
		width: 100%;
		margin: 0 0 20px 0;
	}

	#intro-modules .intro-modules-wrapper .col-right {
		margin-bottom: 0;
	}
	#intro-modules .intro-modules-wrapper .col-center {
		display: none;
	}
	#intro-modules .intro-modules-wrapper .module-box {
		right: 0 !important;
		left: 0 !important;
		flex-direction: row !important;
		text-align: left;
	}
	#intro-modules .intro-modules-wrapper .icon-module {
		margin-right: 25px !important;
		margin-left: 0 !important;
	}
	.module .grid-h {
		flex-direction: column;
	}
	.module .grid-h .left,
	.module .grid-h .right {
		max-width: 100% !important;
	}
	.module .grid-h img {
		margin-bottom: 30px;
	}
	.module .grid-h a {
		width: 100%;
	}
	#contact .text-right {
		text-align: left;
	}
	#contact .container .box {
		margin: 0;
	}
	#contact .container img {
		right: 80px !important;
	}
	#testimonials .carousel-inner {
		padding: 30px 45px;
	}
	#testimonials .item .item-wrapper {
		flex-direction: column;
		width: 100%;
		margin: 0;
	}
	#testimonials .testimonials-wrapper .item .left {
		margin-bottom: 20px;
	}
	#testimonials .testimonials-wrapper .item .left img {
		height: 180px;
	}
	footer .grid-h {
		flex-direction: column;
	}
	footer .grid-h .grid-item {
		width: 100%;
	}
}

/*END RESPONSIVE*/
