/*GENERAL STYLES*/

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  z-index: 10000;
}

.bg-white {
  background-color: white;
}

.grid-h {
  display: flex;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.2px !important;
  color: #0c3566;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  line-height: 44px;
  margin: 0 0 20px 0;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

p.sub-h1 {
  color: #0c3566;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  margin: 0;
}

.m-b-5 {
  margin-bottom: 5px;
}

.m-t-15 {
  margin-top: 15px;
}

.m-t-20 {
  margin-top: 20px;
}

.affix {
  width: 262.6px;
}

.box h1,
.box h2,
.box h3,
.box h4 {
  margin: 0 0 5px 0;
}

.no-padding {
  padding: 0 !important;
}

.btn-l {
  padding: 8px 15px;
}

.btn-xl {
  padding: 14px 80px;
}

.center:last-child {
  margin-bottom: 60px;
}

.sep {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  position: relative;
  margin: 0 -20px;
}

.sep.full {
  margin: 20px -20px;
}

.table {
  margin-bottom: 0;
}

.box h1 {
  font-size: 18px;
  margin: 0 0 5px 0;
  text-transform: capitalize;
}

.box h2 {
  font-size: 16px;
  margin: 12px 0 5px 0;
  text-transform: capitalize;
}

.box h3 {
  font-size: 13px;
  margin: 0;
  line-height: 14px;
  margin: 0px 0 5px 0;
}

.box h4 {
  font-size: 12px;
  margin: 0px 0 5px 0;
}

section {
  padding: 0 0 60px;
}

.perk img {
  width: 55px;
  max-height: 55px;
  height: auto;
}

.perk p {
  font-size: 16px;
  line-height: 25px;
  font-weight: 600;
}

/*BUTTONS*/

.btn {
  border-radius: 8px !important;
}

.buttons .btn:first-child {
  margin-right: 8px;
}

/*BUTTONS*/
.box {
  border-radius: 2px;
  padding: 20px;
  background: #ffffff;
  position: relative;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
}

.no-shadow {
  box-shadow: none;
  border-radius: 0;
}

.border-r {
  border-right: 1px solid #e8e8e8;
}

.title-area.call-to-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e8f1fd;
  padding: 40px !important;
  border-radius: 8px;
  margin: 10px 15px 50px 15px;
}

/*END GENERAL STYLES*/
/*PAGE HEADER*/

#header {
  padding: 40px 0 60px 0;
}

#header .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header .header .left {
  max-width: 500px;
}

#header .header .left .buttons {
  margin-top: 40px;
}

#header .header .right img {
  width: 600px;
  position: relative;
  right: -95px;
}

#header .testimonials {
  margin-top: 60px;
}

#header .testimonials .carousel-indicators {
  bottom: -40px;
}

#header .testimonials .carousel-indicators li {
  border: 1px solid #1d7cee;
}

#header .testimonials .carousel-indicators li.active {
  background-color: #1d7cee;
}

#header .testimonials .t-grid {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 25px;
}

/*END PAGE HEADER*/
/*CORNERSTONES*/

#coBranded .title-area {
  padding: 0 15px;
}

#coBranded h3 {
  font-weight: bold;
  line-height: 30px;
}

#coBranded .wrapper {
  display: flex;
  flex-direction: row;
  padding: 0 15px;
}

#coBranded .wrapper.media {
  margin: 50px 0 40px 0;
  overflow: visible;
}

#coBranded .wrapper.media > .left {
  width: 50%;
  height: 500px;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
}

#coBranded .wrapper.media .caption {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: #58708d;
  border-radius: 8px;
  color: white;
  padding: 8px 15px;
  font-size: 12px;
}

#coBranded .wrapper.media > .right {
  width: 50%;
  height: 500px;
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

#coBranded .wrapper.media .right img,
#coBranded .wrapper.media .left img {
  width: 100%;
}

#coBranded .wrapper.media .right .left,
#coBranded .wrapper.media .right .right,
#coBranded .wrapper.media .left .left,
#coBranded .wrapper.media .left .right {
  height: 240px;
  position: relative;
}

#coBranded .wrapper.media .right .left,
#coBranded .wrapper.media .left .left {
  margin-bottom: 15px;
  overflow: hidden;
  border-radius: 8px;
}

#coBranded .wrapper.media .right .right,
#coBranded .wrapper.media .left .right {
  overflow: hidden;
  border-radius: 8px;
}

#coBranded .wrapper .perks-list {
  display: flex;
  flex-direction: row;
  margin: -10px;
  flex-wrap: wrap;
}

#coBranded .wrapper .perks-list .perk {
  width: 30.7%;
  margin: 10px;
  background-color: white;
  border-radius: 8px;
  padding: 5px;
}

/*END CORNERSTONES*/
/*COMMUNICATION*/

#communication .wrapper {
  display: flex;
  align-items: flex-start;
  margin: 35px -15px 25px -15px;
  padding: 0 15px;
}

#communication .wrapper .left,
#communication .wrapper .right {
  width: 50%;
  margin: 15px;
  background-color: #e9edf1;
  padding: 10px 30px;
  border-radius: 8px;
}

#communication .wrapper .perk {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

#communication .wrapper .perk img {
  margin-right: 20px;
}

#communication .wrapper .perk p {
  margin: 0;
}

/*END COMMUNICATION*/
/*EVALUATION*/

#evaluation .wrapper {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

#evaluation .wrapper .left {
  width: 60%;
  margin-right: 100px;
}

#evaluation .left img {
  width: 100%;
}

#evaluation .wrapper .perk {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

#evaluation .wrapper .perk img {
  margin-right: 20px;
}

#evaluation .wrapper .perk p {
  margin: 0;
}

#evaluation .right {
  width: 40%;
}

/*END EVALUATION*/
/*NETWORK*/

#network .wrapper {
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#network .title-area {
  max-width: 750px;
}

#network .wrapper .left {
  width: 40%;
  margin-right: 30px;
}

#network .wrapper .left .title-area {
  margin-bottom: 30px;
}

#network .wrapper .right {
  width: 50%;
}

#network .wrapper .right .kpis-bar {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

#network .wrapper .right .kpi {
  font-weight: 600;
  font-size: 15px;
  padding: 10px 20px;
  margin: 5px;
  box-shadow: 0 0 30px #eceff3;
  width: 31.53%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#network .wrapper .right .global-alliance {
  display: flex;
  align-items: center;
  align-items: flex-start;
  margin-top: 40px;
}

#network .wrapper .right .global-alliance span {
  font-size: 18px;
  font-weight: 700;
}

#network .wrapper .right .global-alliance p {
  font-size: 16px;
  line-height: 25px;
  font-weight: 600;
  margin-top: 8px;
}

#network .wrapper .right .global-alliance svg {
  background-color: #e8f1fd;
  padding: 5px;
  border-radius: 8px;
  margin-right: 12px;
  min-width: 35px;
  height: auto;
}

#network .wrapper .right span {
  font-size: 1.5em;
  font-weight: bold;
  display: block;
}

/*END NETWORK*/
/*TESTIMONIALS*/

#testimonials {
  position: relative;
}

#testimonials .testimonials-wrapper {
  margin: 30px 0;
}

#testimonials .carousel-inner {
  box-shadow: 0 0 30px #eceff3;
  border-radius: 8px;
  padding: 50px 80px;
  margin-bottom: 50px;
}

#testimonials .item .item-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 30px 0 40px;
}

#testimonials .testimonials-wrapper .item .left {
  margin-right: 50px;
}

#testimonials .testimonials-wrapper .item .left img {
  height: 180px;
}

#testimonials .testimonials-wrapper .item .right .meta ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

#testimonials .testimonials-wrapper .item .right .meta ul li.name {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 16px;
}

#testimonials .testimonials-wrapper .item .right .meta ul li.medium {
  font-size: 15px;
}

#testimonials .testimonials-wrapper .logos h3 {
  text-align: center;
  margin-bottom: 20px;
}

#testimonials .logos .grid-h {
  flex-wrap: wrap;
  justify-content: center;
}

#testimonials .logos .grid-h img {
  max-width: 140px;
  margin: 10px;
}

#testimonials .buttons .btn:last-child {
  margin-left: 10px;
}

#testimonials .carousel-control.right,
#testimonials .carousel-control.left {
  background-image: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

#testimonials .carousel-control.left .glyphicon-chevron-left:before {
  content: "\e875";
  font-family: "LinearIcons-Free";
}

#testimonials .carousel-control.right .glyphicon-chevron-right:before {
  content: "\e876";
  font-family: "LinearIcons-Free";
}

/*TESTIMONIALS*/

/*RESPONSIVE*/

@media (max-width: 768px) {
  .content h2 {
    line-height: 20px;
    margin-bottom: 8px;
    margin-top: 0px;
  }
  .buttons a {
    width: 100%;
    margin: 0 0 15px 0 !important;
  }
  #intro-modules .intro-modules-wrapper {
    flex-direction: column;
  }
  #intro-modules .intro-modules-wrapper .col-left,
  #intro-modules .intro-modules-wrapper .col-right {
    width: 100%;
    margin: 0 0 20px 0;
  }

  #intro-modules .intro-modules-wrapper .col-right {
    margin-bottom: 0;
  }
  #intro-modules .intro-modules-wrapper .col-center {
    display: none;
  }
  #intro-modules .intro-modules-wrapper .module-box {
    right: 0 !important;
    left: 0 !important;
    flex-direction: row !important;
    text-align: left;
  }
  #intro-modules .intro-modules-wrapper .icon-module {
    margin-right: 25px !important;
    margin-left: 0 !important;
  }
  .module .grid-h {
    flex-direction: column;
  }
  .module .grid-h .left,
  .module .grid-h .right {
    max-width: 100% !important;
  }
  .module .grid-h img {
    margin-bottom: 30px;
  }
  .module .grid-h a {
    width: 100%;
  }
  #contact .text-right {
    text-align: left;
  }
  #contact .container .box {
    margin: 0;
  }
  #contact .container img {
    right: 80px !important;
  }
  #testimonials .carousel-inner {
    padding: 30px 45px;
  }
  #testimonials .item .item-wrapper {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  #testimonials .testimonials-wrapper .item .left {
    margin-bottom: 20px;
  }
  #testimonials .testimonials-wrapper .item .left img {
    height: 180px;
  }
  footer .grid-h {
    flex-direction: column;
  }
  footer .grid-h .grid-item {
    width: 100%;
  }
}

/*END RESPONSIVE*/
